html{
    background-color: black;
    background-image: url(fundo.jpg);   
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Quicksand', sans-serif;
  
}

body {
    color: black
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.logo {
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50px;
    box-shadow: 9px 7px 5px rgba(7, 3, 3, 0.77);
}

h1 {
font-size: 50px;
text-align: center;
position: relative;
margin-top: 40px;

}



.roda {
    width: 80px;
    display: block;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
}


.copyright {
    text-align: center;
    color: #000000;
    font-weight: bold;
}